doctype html
html
  head
    title Keramiko
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/bundle.css')
  body
    .wrapper
      header.header
        .header--nav-toggler
          .header--icon.icon!= icons.menu
        a.header--logo(href='/') Keramiko
        .header--cart-toggler
          .header--icon.icon!= icons.cart
          a.header--cart-toggler-label Kosár (#{cart.reduce((sum, item) => sum + item.quantity, 0)})
        hr.header--separator
        nav.header--nav
          ul
            li.header--nav-item: a(href='/') Főoldal
            li.header--nav-item: a(href='/products') Termékek
            li.header--nav-item: a(href='https://bedoaniko.blogspot.hu', target='_blank') Blog
            li.header--nav-item: a(href='/about') Rólam
        .cart
          .cart--title A kosár tartalma
          .cart--items
            include cart.pug
      main
        block content
        footer.footer
          .about
            h4.about--title Rólam
            p.about--content.
              Életem, hobbim az alkotás, a természetes anyagok amiket csűrök, csavarok, gyűrök, gyavarok...
              Otthonom mégis a folyton változó, képlékeny anyag, mely megnyugtat és izgalomban tart, mint egy játék.
              Használati tárgyakat szeretek elsősorban készíteni: bögréket, poharakat, tálakat.
              A régmúlt idő paraszti kultúra tárgyai formáival ihletnek, de a ma élet rezdüléseit,
              egyéni világomat is belegyúrom munkáimba, így tárgyaim történetek, melyek sok mindenről mesélnek:
              földről, vízről, tűzről, szerelemről, csendről, teákról színekről, régi időkről, rólam...
              Zsűriztetek rendszeresen, de az igazi megmérettetés számomra mégis a befogadó közönség.
            h4.about--title Boltom
            p.about--content.
              Lorem ipsum dolor sit amet
          .connect
            h4.connect--title Iratkozz fel a hírlevelemre!
            .connect--newsletter
              input(placeholder='Az e-mail címed')
              button >

    script.
      document.querySelector('.header--nav-toggler').addEventListener('click', () => document.body.classList.toggle('js-nav-open'));
      document.querySelector('.header--cart-toggler').addEventListener('click', () => document.body.classList.toggle('js-cart-open'));
      const cart = document.querySelector('.cart');
      cart.addEventListener('click', e => {
        let target = e.target;
        while(target && target !== cart && !target.matches('.cart--item-remove')) target = target.parentNode;
        if (target === cart || !target) return;
        fetch('/cart/remove', {
          method: 'post',
          credentials: 'include',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({productId: +target.dataset.productId, quantity: +target.dataset.quantity}),
        }).then(res => res.text()).then(res => {
          document.querySelector('.cart--items').innerHTML = res;
          document.querySelector('.header--cart-toggler-label').innerText = 'Kosár (' + document.querySelectorAll('.cart--item').length + ')';
        });
      });

      function onClick(selector, target, fn) {
        const el = document.querySelector(selector);
        el.addEventListener('click', e => {
          let t = e.target;
          while (t && t !== el && !t.matches(target)) t = t.parentNode;
          if (!t || t === el) return;
          fn(e, t);
        });
      }

      onClick('.cart', '.cart--order-button', () => {
        const email = document.querySelector('.cart--order-email').value;
        fetch('/orders', {
          method: 'post',
          credentials: 'include',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({email: email, note: document.querySelector('.cart--order-note').value})
        }).then(res => res.json()).then(res => {
          if (res.ok) {
            document.querySelector('.cart--order').innerHTML = '<div class="cart--order-success">A megrendelésedet a(z) ' + email + ' címre felvettük, köszönjük! A további részletekről (rendelés elkészülésének várható időpontja, stb) email-ben fogsz tájékoztatást kapni!</div>';
          }
        });
      })
    if config.services['google-analytics']
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '!{config.services['google-analytics']}', 'auto');
        ga('send', 'pageview');
